#editorx-enabling-btn {
	position: fixed;
	top: 150px;
	left: -3px;
	background: #fff;
	color: #773bfb;
	border: 1px solid #6d82f4;
	border-radius: 4px;
	width: 178px;
	padding: 15px 0;
	text-align: center;
	cursor: pointer;
	z-index: 9999999999999999;
}
#editorx-notification {
	display: none;
	position: fixed;
	top: 100px;
	right: 20px;
	box-shadow: rgba(44, 188, 99, 0.2) 0px 7px 29px 0px;
	padding: 10px 20px;
	border-radius: 4px;
	color: #2cbc63;
	background: #fff;
}
body div span.editorx-old-title,
body div span.editorx-old-content,
span.editorx-old-title {
	display: none !important;
}
body div a.editorx-view-post {
	font-size: 14px;
	vertical-align: top;
}